body{
	background: #fefefe;
}

.upcoming_container{
	padding: 1em;
	display: flex;
	flex-direction: column;
}

.container_title{
	position: relative;
	font-size: 3em;
	font-family: CODE_BOLD;
	align-self: center;
	display: flex;
	justify-content: center;
}

.container_title:after{
	content: '';
	background: black;
	height: .1em;
	width: 30%;
	top: 130%;
	position: absolute;
}

.event{
	padding: 2em;
	display: flex;
	flex-direction: row;
}

.event_cover{
	display: flex;justify-content: flex-end;
}

.event_cover img{
	max-height: 25em;
	align-self: flex-end;
}

.event_details{
	padding: 2em;
	display: flex;
	flex-direction: column;
}

.event_details .event_title{
	align-self: flex-start;
	font-size: 2em;
	font-family: rock_regular;
	align-self: flex-start;
}

.event_details .event_description p{
	font-family: quicksand_medium;
}

.event_details .buttons{
	display: flex;
}

.event_details .read_more{
	display: flex;
	flex-direction: column;
	padding: 1em;
	margin-top: 1em;
	font-family: quicksand_bold;
	font-family: 1.2em;
	border: 1px solid black;
	border-radius: .3em;
	min-width: 6em;
	background: rgba(0,0,0,0);
	transition: .2s;
	cursor: pointer;
}

.read_more:nth-child(2){
	margin-left: 1.5em;
}

.read_more span{
	margin: 0;
	align-self: center;
}

.event_details .read_more:hover{
	background: rgba(0,0,0,.08);
}












.event-details-container{
	flex-grow: 1;
	position: relative;
	background: white;
	top: 0em;
	/height: auto;
	height: 100vh;
	width: 100vw;
	align-self: center;
	position: fixed;
	flex-direction: column;
	display: flex;
	transition: .2s top;
	transition-timing-function: ease-in-out;
}

.hidden{
	top: -100vh;
}

.go-back{
	position: absolute;
	right: 2em;
	bottom: 0em;
	padding: 1em;
	background: #DDDDDD;
	border: .1em solid #222222;
	transform: rotate(-90deg);
	border-radius: 100%;
	width: 1.5em;
	height: 1.5em;
	cursor: pointer;
	transition: .5s;
}

.go-back:hover{
	background: #999999;
	transform: rotate(270deg);
}






