/* The container application */
#app {
	margin-top: 6.7vw;  /make this shit dynamic
}

#loginl, #logoutl, #register1 {
    background-color: rgb(22,22,22);
    border: none;
    color: #49ff68;
    margin: 0.2em;
	cursor: pointer;
	transition: color .2s;
}
#logoutl:hover, #loginl:hover{
	color: white;
}

/* The login pages */
#glassfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.3);
    filter: blur(30px);
}
#loginbox {
    background-color: white;
    position: fixed;
    left: 50%;
    top: 50%;
	height: 60vh;
	justify-content: center;
    transform: translate(-50%, -50%);
    width:50%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.5);
	border-radius: .5em;
}
#loginclose {
    background: url(/icons/cross.svg) no-repeat;
    background-color: white;
    background-position: 50% 50%;
    width: 4em;
    height: 4em;
    border-style: none;
	border-top-right-radius: .5em;
    position: absolute;
    top: 0;
    right: 0;
	cursor: pointer;
	transition: background .2s;
}
#loginclose:hover{
	background-color: rgba(0,0,0,.1);
}
#loginbox img{
	width: 30%;
}
.login-container{
	width: 70%;
	display: flex;
	flex-direction: column;
}
.login-item {
    border: 1px solid #222222;
    margin: 0.5em;
    border-radius: .2em;
    padding: 10px 0.5%;
    width: 98%;
}
.login-button:hover{
    opacity:0.8;
}
.login-button {
	align-self: center;
	width: 50%;
    font-family: code_bold;
    background-color: #2F5977;
    color: white;
    border: none;
	margin: .5%;
    cursor: pointer;
    transition: .2s;
}
p{
    font-family: rock_bold;
}
input#login-submit{
    font-size: 2em;
    font-family: rock_bold;
}


.sign_up_mother_container{
	top: 0;
	z-index: 10;
	position: fixed;
	height: 100vh;
	flex-direction: row;
	justify-content: center;
	width: 100vw;
	background: rgba(0,0,0,.15);
}


.hidden{
    display: none !important;
}
.shown{
	display: flex;
}

#passError{
    color: red;
}

.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}


input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#skills,
#projects{
    margin-left: 5%;
}


.popup{
	padding: 1em 3em;
	padding-bottom: 3em;
	position: fixed;
	top: 50vh;
	transform: translateY(-50%);
	background: #FEFEFE;
	border: 2px solid #222222;
	width: 60%;
	align-self: center;
}

.popup .cross{
	position: absolute;
	right: 0;
	top: 0;
	padding: 1em;
}

.popup .cross:hover{
	cursor: pointer;
	transition: .4s;
	background: rgba(0,0,0,.2);
}

.popup h1{
	padding-bottom: .5em;
	font-family: quicksand;
}

.popup input{
	font-family: quicksand_medium;
	border: 1px solid #222222;
	box-shadow: none;
	border-radius: .2em;
	padding: .8em .5em;
	width: 30em;
}

.popup textarea{
	font-family: quicksand_medium;
	border: 1px solid #222222;
	box-shadow: none;
	border-radius: .2em;
	padding: .8em .5em;
	height: 5em;
	width: 30em;
}

.popup .dp_uploader{
	overflow: hidden;
	width: 40%;
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
	/border: 1px solid black;
	display: flex;
	flex-direction: column;
}

.dp_uploader input#addPhoto{
	margin-top: 2em;
	width: 23em;
	align-self: center;
}

.dp_uploader img{
	align-self: center;
	border-radius: 50%;
	width: 70%;
}


button#click{
	cursor: pointer;
	height: 2.5em;
	width: 7em;
	background: rgba(0,0,0,.1);
	border: 1px solid black;
	border-radius: .3em;
	color: black;
	font-size: 1em;
	font-family: quicksand;
}
