
body{
	margin: 0;
	padding: 0;
	background-color: #222;
	overflow-x: hidden;
}

/* Starting with the NavBar*/
.navbar{
	top: 0;
	z-index: 10;
	position: fixed;
	width: 100vw;
    border-bottom: 2px solid #17dd42;
	display: flex;
	background: rgba(22,22,22,1);
	justify-content: space-between;
}
.navbar .logo-container{
	background-color: #47ff7f;
	padding-left: 1.5%;
	/border: 1px solid white;
	position: relative;
	align-self: center;
	padding: .7vw 2vw;
    /margin-left: 45%;
}
.navbar .logo-container img{
	/border: 1px solid black;
	width: auto;
	height: 5vw;
}
.navbar ul{
/*	bordeR: 1px solid white;*/
	align-self: flex-end;
	position: relative;
	right: 2vw;
	display: flex;
/*    vertical-align: bottom;*/
    list-style: none;
/*    text-align: center;*/
    margin: 0;
    padding: 0;
}
.navbar li{
	align-self: center;
    font-family: 'Raleway', sans-serif;
    /margin-bottom: 2%;
	display: flex;
	justify-content: center;
	/width: 120p;
	/height: 50px;
	padding: 1vw 1vw;
	/line-height: 50px;
	font-size: 1.2em;
	/border-bottom: 2px solid #17dd42;
	position: relative;
}
.navbar a{
	color: #49ff68;
    text-decoration: none;
    display: block;
	transition: .2s;
	transition-delay: .02s;
}
.navbar li a:hover{
	color: #FFFFFF;
}
/*
    .navbar li:hover{
        /border-bottom: 2px solid #222;
    }
*/
    .navbar li .active{
        color: aliceblue;
    }
/***** make the left vals dynamic later *********/
	.div1:after{
		transition: .2s;
		transition-timing-function: ease-out;
		content: '';
		left: .4em;
		background: #222;
		width: 90%;
		position: absolute;
		height: 2px;
		top: 100%;
	}
	.div2:after{
		left: 5em;
		width: 5em;
	}
	.div3:after{
		left: 11em;
		width: 5em;
	}
	.div4:after{
		left: 16.5em;
		width: 6em;
	}

@media screen and (min-width: 481px){
/*
    .navbar img{
        margin-left: 4%;
        width: 5%;
    }
    .navbar ul{
        text-align: right;
        display: inline-block;
    }
    .navbar li{
        height: 50px;
        line-height: 50px;
        font-size: 1.2em;
        border-bottom: 2px solid #17dd42;
        display: inline-block;
        margin: -2px;
    }
    .navbar li:hover{
        border-bottom-color: #222;
    }
    .navbar li.active{
        border-bottom-color: #222;
    }

    .navbar li.active a:hover {
        color: #fff;
    }

    .navbar li.active a {
        color: #fff;
    }
*/
}
/*Finished styling the NavBar*/

@media screen and (max-width: 480px){
/*
    .navbar{
        /border-bottom: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: auto;
    }
	.navbar img{
		width: 4em;
		height: 4em;
		align-self: center;
	}
    .navbar ul{
        display: flex;
		flex-direction: row;
		/border: 1px solid white;
		justify-content: center;
		min-height: 3em;
		align-self: center;
    }
	.navbar li{
		font-size: .7em;
		padding: .2em;
		align-self: center;
	}
    .navbar{
        border-bottom: none;
    }
    .navbar ul{
        display: none;
    }
	*/
}
/*Finished styling the NavBar*/